[Unit]
Description=Clash Dual WS server
After=network.target

[Service]
Type=simple
User=aftestbot0
WorkingDirectory=/srv/clash-dual/server
Environment=PORT=8081
Environment=NODE_ENV=production
# Если когда-то вернёшь жёсткий харденинг (MemoryDenyWriteExecute=true),
# добавь строку ниже для совместимости с V8:
# Environment=NODE_OPTIONS=--jitless
ExecStart=/usr/bin/node /srv/clash-dual/server/dist/server.js
Restart=always
RestartSec=2
NoNewPrivileges=true
PrivateTmp=true

[Install]
WantedBy=multi-user.target
